.WhiteboardExample {
    padding-left: 20px;
}

.WhiteboardExample * {
    display: inline-block;
    vertical-align: middle;
}

.WhiteboardExample img {
    border: var(--standard-button-colour) 1px solid;
    padding: 0px;
}
