.App {
    background-color: var(--exterior-background);
}

p {
    background-color: var(--interior-background);
    border-bottom: var(--exterior-background) 6px solid;
    border-right: var(--interior-background) 20px ridge;
    border-top: var(--exterior-background) 20px ridge;
    border-left: var(--interior-background) 20px groove;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 6px;
}
