.Nav-bar {
  background-color: lemonchiffon;
  border: gold 1px solid;
}

.Nav-bar a {
  background-color: lemonchiffon;
  border: gold 1px solid;
  color: darkblue;
  margin-right: -1px;
  padding: 53px 10px 52px 10px;
  text-decoration: none;
}

.Nav-bar a:hover {
  background-color: #ffe866;
}

.Nav-pane {
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
}

.Nav-logo {
  height: 80px;
  width: auto;
  display: inline-block;
  padding: 20px;
}