.App {
    background-color: whitesmoke;
}

.LandingText {
    background-color: white;
    border-bottom: whitesmoke 6px solid;
    border-right: whitesmoke 20px ridge;
    border-top: whitesmoke 20px ridge;
    border-left: whitesmoke 20px groove;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 6px;
    z-index: 1;
}
