:root {
  /* GREYSCALE */ 
  /* --exterior-background: whitesmoke;
  --interior-background: white;
  --standard-button-colour: rgb(180, 180, 180);
  --depressed-button-colour: rgb(130, 130, 130); */

  /* GREYSTEEL */ 
  --exterior-background: rgb(200, 225, 245);
  --interior-background: rgb(227, 240, 250);
  --standard-button-colour: rgb(141, 160, 180);
  --depressed-button-colour: rgb(102, 115, 130);
  --root-standard-button-colour: rgb(240, 100, 100);
  --root-depressed-button-colour: rgb(210, 70, 70);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: var(--exterior-background);
}

h3 {
  background-color: var(--exterior-background);
  border-bottom: var(--exterior-background) 1px solid;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 20px;
  margin-bottom: -20px;
}

p {
  background-color: var(--interior-background);
  border-bottom: var(--exterior-background) 6px solid;
  border-right: var(--interior-background) 20px ridge;
  border-top: var(--exterior-background) 20px ridge;
  border-left: var(--interior-background) 20px groove;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 6px;
}
